<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #addForm="ngForm">

    <h2>Edit Menu Item</h2>

    <label>Text (or HTML)</label>
    <input id="hashedit-edit-menu-item-html" type="text" required
      [(ngModel)]="model.html"
      ngControl="html">
      
    <label>CSS Class</label>
    <input id="hashedit-edit-menu-item-css-class" type="text" maxlength="128"
      [(ngModel)]="model.cssClass"
      ngControl="cssClass">
    
    <label>Is Nested?</label>
    <select id="hashedit-edit-menu-item-is-nested"
      [(ngModel)]="model.isNested"
      ngControl="isNested">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
    
    <label>Url</label>
    <select id="hashedit-edit-menu-item-url"
      [(ngModel)]="model.url"
      ngControl="url">
      <option *ngFor="#page of pages" [value]="page.url">{{page.url}}</option>
    </select>

    <div class="actions">
      <a (click)="hide()">Cancel</a>
      <button type="submit">Update</button>
    </div>

  </form>

</div>