<nav class="app-drawer" [class.visible]="visible === true">

  <ul>
    <li class="app-drawer-title"><span>Manage your Site</span></li>
    <li><a [routerLink]="['Pages']">Pages</a></li>
    <li><a [routerLink]="['Menus']">Menus</a></li>
    <li><a [routerLink]="['Forms']">Forms</a></li>
    <li><a>Submissions</a></li>
    <li><a [routerLink]="['Files']">Files</a></li>
    <li><a [routerLink]="['Users']">Users</a></li>
    <li><a [routerLink]="['Settings']">Settings</a></li>
  </ul>

  <ul>
    <li class="app-drawer-title"><span>Developer Options</span></li>
    <li><a (click)="reload()">Reload system files</a></li>
  </ul>

</nav>