<nav class="app-drawer" [class.visible]="visible === true">

  <ul>
    <li class="app-drawer-title"><span>Manage your Site</span></li>
    <li><a [routerLink]="['Pages']">Pages</a></li>
    <li><a>Forms</a></li>
    <li><a>Menus</a></li>
    <li><a>Theme</a></li>
    <li><a>Branding</a></li>
    <li><a>Files</a></li>
    <li><a>Users</a></li>
    <li><a>Settings</a></li>
  </ul>
  
  <ul>
    <li class="app-drawer-title"><span>Developer Options</span></li>
    <li><a>Reload system files</a></li>
  </ul>

</nav>