<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #addForm="ngForm">

    <h2>Add Page</h2>

    <label>Path</label>
    <select id="hashedit-add-page-path"
      [(ngModel)]="model.path"
      ngControl="path">
      <option *ngFor="let route of routes" [value]="route">{{route}}</option>
    </select>

    <label>URL</label>
    <input id="hashedit-add-page-url" type="text" maxlength="128" placeholder="new-page" required
      [(ngModel)]="model.url"
      ngControl="url">

    <label>Title</label>
    <input id="hashedit-add-page-title" type="text" maxlength="128" required
      [(ngModel)]="model.title"
      ngControl="title">

    <label>Description</label>
    <input id="hashedit-add-page-desc" type="text" maxlength="128"
      [(ngModel)]="model.description"
      ngControl="description">

    <div class="actions">
      <a (click)="hide()">Cancel</a>
      <button type="submit">Add</button>
    </div>

  </form>

</div>